body {
  background-color: darkgray;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

th {
   background-color: lightgray;
}

.data td {
   width: 10px;
}

.wct table {
  width: 50%;
}

.wct td {
  border: 1px solid;
  width: 50%;
}

.wct img {
  display: block;
  margin: 0 auto;
  width: 320px;
}
