{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
      <th>Material</th>
      <th>Thickness</th>
    </tr>
    {% for item in data %}
      <tr>
        <td>{{ item.material }}</td>
        <td>{{ item.thickness }}</td>
      </tr>
    {% endfor %}
  </table>
<p></p>
  <table>
    <tr>
      <th>Type</th>
      <th>Model</th>
      <th>Current</th>
    </tr>
    {% for item in breakers_list %}
      <tr>
        <td>{{ item.Type }}</td>
        <td>{{ item.Model }}</td>
        <td>{{ item.Current }}</td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}